<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <EventWindow name="Wand Event Window">
    <width>200</width>
    <height>200</height>
    <origin>950</origin>
    <origin>350</origin>
    <msens>2.0</msens>
    <display_number>-1</display_number>
    <lock_key>29</lock_key>
    <start_locked>0</start_locked>
    <sleep_time>75</sleep_time>
    <deviceHost />
  </EventWindow>
</ConfigChunkDB>
