vjincludedescfile
   Name "${VJ_BASE_DIR}/share/data/JugglerAudio.desc"
  end
juggler_audio_manager
  Name "OpenAL JugglerAudio"
  api "OpenAL"
  listener_position { "0.0" "0.0" "0.0" }
  file_search_path { ".:${AJ_BASE_DIR}/share/AudioJuggler/data" }
  Sound { 
      Sound
        Name "JazzyMusic"
        filename { "sample.wav" }
        ambient { "False" }
        loop { "-1" }
        retriggerable { "False" }
        position { "0.0" "0.0" "0.0" }
        end
 }
  Sound { 
      Sound
        Name "Drums"
        filename { "sample-drumsolo-2bars.wav" }
        ambient { "False" }
        loop { "-1" }
        retriggerable { "False" }
        position { "0.0" "0.0" "0.0" }
        end
 }
  Sound { 
      Sound
        Name "Bonk"
        filename { "attack-arpeg.wav" }
        ambient { "False" }
        loop { "1" }
        retriggerable { "True" }
        position { "0.0" "0.0" "0.0" }
        end
 }
  end
End
