# This file defines the specification for the VR Juggler lib32/mips3 diretory
# tree for machines running IRIX.
#
# $Id$

/set type=dir mode=0755
.
    lib32
	mips3
	    debug
	    ..
	    opt
	    ..
	..
    ..
..
