<HEAD>
  <TITLE>Class Author Index</TITLE>
</HEAD>

<BODY BGCOLOR="#ffffff">

<DIV ALIGN="CENTER">
  <TABLE BORDER="3" CELLPADDING="10">
    <CAPTION>
      <FONT SIZE="+1"><B>Class Index by Author</B></FONT>
    </CAPTION>
    <TH>
      <TD ALIGN="CENTER">Class</TD>
      <TD ALIGN="CENTER">Modified</TD>
      <TD ALIGN="CENTER">Description</TD>
    </TH>
    {foreach author}
      <TR>
	<TD COLSPAN="3" ALIGN="CENTER">
	  <FONT SIZE="+1"><B>
	  {if !author}
	    Other Authors
	  {endif}
	  {else}
	    {author}
	  {endelse}
	  </B></FONT>
	</TD>
      </TR>
      {foreach class}
	{nobreak}
	<TR>
	  <TD ALIGN="CENTER" VALIGN="TOP">
	    <A HREF="{name}.html"><B>{name}{templ}</B></A>
	  </TD>
	  <TD ALIGN="CENTER" VALIGN="TOP">
	    <B>{modtime}</B>
	  </TD>
	  <TD VALIGN="TOP">
	    <B>{brief}</B>
	  </TD>
	</TR>
	{endnobreak}
      {next class}
    {next author}
  </TABLE>
</DIV>

</BODY>
