<html><head><TITLE>Other Documented Items</TITLE></head>
<body BGCOLOR=#FFFFFF>
<BR><BR>
<CENTER><H3>Other Documented Items</H3></CENTER>

<BR><BR>

<B>FUNCTIONS</B><BR><BR>
<UL><DL>
{foreach func}

    <DT>{type}<B> {name}</B>({args}) {if const}const{endif}{if throws} <FONT COLOR="red"> throws {throwclass}({throwargs}) </FONT>{endif};
    <DD><FONT FACE="Times" SIZE=3>
      {if brief}  <B>{brief}</B> <br> {endif}
      {if detail} {detail} <br> {endif}
      </FONT>

<br>
{next}
</DL></UL>
<B>GLOBALS</B><BR><BR>
<UL><DL>
{foreach global}

    <DT>{type}<B> {name}</B>{if enum} {lb}{args}{rb} {endif}{else}{args}{endelse};
    <DD><FONT FACE="Times" SIZE=3>
      {if brief}  <B>{brief}</B> <br> {endif}
      {if detail} {detail} <br> {endif}
      </FONT>

<br>
{next}
</DL></UL>
<B>TYPEDEFS</B><BR><BR>
<UL><DL>
{foreach typedef}

    <DT>{type}<B> {name}</B>{if enum} {lb}{args}{rb} {endif};
    <DD><FONT FACE="Times" SIZE=3>
      {if brief}  <B>{brief}</B> <br> {endif}
      {if detail} {detail} <br> {endif}
      </FONT>

<br>
{next}
</DL></UL>
<B>MACROS</B><BR><BR>
<UL><DL>
{foreach macro}

    <DT><B>{name}</B> : {args}
    <DD><FONT FACE="Times" SIZE=3>
      {if brief}  <B>{brief}</B> <br> {endif}
      {if detail} {detail} <br> {endif}
      </FONT>

<br>
{next}
</DL></UL>
</body>
</html>
