# This file defines the specification for the Data directory tree for the VR
# Juggler installation.
#
# $Id$

/set type=dir mode=0755
.
    Data
	DescHelp
	..
	configFiles
	..
	gesture
	..
	models
	..
    ..
..
