# This file defines the specification for the base installation directory
# tree for VR Juggler.
#
# $Id$

/set type=dir gname=vrjuggler mode=0775
.
    Data
    ..
    bin
    ..
    include
    ..
    samples
    ..
    test
    ..
..
