<ConfigChunkDB>
  <vjc_GenericInstance name="Network Module">
    <ClassName>"VjComponents.Network.NetworkModule" </ClassName>
    <Dependencies></Dependencies>
    <ParentComp>"VjControl Core" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"True" "False" "True" "False" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="Performance Module">
    <ClassName>"VjComponents.PerfMonitor.PerformanceModule" </ClassName>
    <Dependencies>"Config Module" </Dependencies>
    <ParentComp>"VjControl Core" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"False" "False" "False" "True" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="ChunkOrgTree Module">
    <ClassName>"VjComponents.ConfigEditor.ChunkOrgTreeModule" </ClassName>
    <Dependencies>"Config Module" </Dependencies>
    <ParentComp>"VjControl Core" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"True" "True" "False" "False" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="Config Module">
    <ClassName>"VjComponents.ConfigEditor.ConfigModule" </ClassName>
    <Dependencies>"Network Module" </Dependencies>
    <ParentComp>"VjControl Core" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"True" "False" "False" "False" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="ConfigUIHelper Module">
    <ClassName>"VjComponents.ConfigEditor.ConfigUIHelper" </ClassName>
    <Dependencies>"ControlUI Module" "Config Module" "ChunkOrgTree Module" </Dependencies>
    <ParentComp>"VjControl Core" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"True" "False" "False" "False" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="VjcPrefs Module">
    <ClassName>"VjComponents.UI.VjcPrefsModule" </ClassName>
    <Dependencies>"ControlUI Module" "ConfigUIHelper Module" </Dependencies>
    <ParentComp>"VjControl Core" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"True" "False" "False" "False" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="ControlUI Module">
    <ClassName>"VjComponents.UI.ControlUIModule" </ClassName>
    <Dependencies></Dependencies>
    <ParentComp>"VjControl Core" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"True" "False" "False" "False" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_Component name="VjComponents.ConfigEditor.ConfigModule">
  </vjc_Component>
  <vjc_Component name="VjWizards.WizardPanel">
  </vjc_Component>
  <vjc_Component name="VjComponents.UI.VjcPrefsModule">
  </vjc_Component>
  <vjc_Component name="VjComponents.ConfigEditor.ConfigUIHelper">
  </vjc_Component>
  <vjc_Component name="VjComponents.ConfigEditor.ConfigSaveMonitorModule">
  </vjc_Component>
  <vjc_Component name="VjComponents.ConfigEditor.ChunkOrgTreeModule">
  </vjc_Component>
  <vjc_Component name="VjComponents.PerfMonitor.PerformanceModule">
  </vjc_Component>
  <vjc_Component name="VjComponents.UI.ControlUIModule">
  </vjc_Component>
  <vjc_Component name="VjComponents.Network.NetworkModule">
  </vjc_Component>
  <vjc_Component name="VjComponents.ConfigEditor.StandardConfigCommunicator">
  </vjc_Component>
  <vjc_Component name="VjComponents.ConfigEditor.XMLConfigCommunicator">
  </vjc_Component>
  <vjc_Component name="VjComponents.PerfMonitor.PerformanceCommunicator">
  </vjc_Component>
  <vjc_Component name="VjComponents.ConfigEditor.ConfigurePane">
  </vjc_Component>
  <vjc_Component name="VjComponents.Network.ConnectionPane">
  </vjc_Component>
  <vjc_Component name="VjComponents.ConfigEditor.DescDBPanel">
  </vjc_Component>
  <vjc_Component name="VjComponents.ConfigEditor.ChunkOrgTreePane">
  </vjc_Component>
  <vjc_Component name="VjComponents.UI.ConsolePane">
  </vjc_Component>
  <vjc_Component name="VjComponents.PerfMonitor.PerfAnalyzerPanel">
  </vjc_Component>
  <vjc_Component name="VjComponents.UI.TabPaneContainer">
  </vjc_Component>
  <vjc_Component name="VjComponents.UI.TreeSelectContainer">
  </vjc_Component>
  <vjc_Component name="VjComponents.ConfigEditor.ConfigChunkUI.DefaultConfigChunkPanel">
  </vjc_Component>
  <vjc_GenericInstance name="Performance Communicator">
    <ClassName>"VjComponents.PerfMonitor.PerformanceCommunicator" </ClassName>
    <Dependencies>"Performance Module" "Network Module" </Dependencies>
    <ParentComp>"Network Module" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"False" "False" "False" "True" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="XML Config Communicator">
    <ClassName>"VjComponents.ConfigEditor.XMLConfigCommunicator" </ClassName>
    <Dependencies>"Network Module" "Config Module" </Dependencies>
    <ParentComp>"Network Module" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"False" "False" "True" "False" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_PlugPanel name="Configure">
    <ClassName>"VjComponents.ConfigEditor.ConfigurePane" </ClassName>
    <Dependencies>"ControlUI Module" "Config Module" "ConfigUIHelper Module" </Dependencies>
    <ParentComp>"ControlUI Module" </ParentComp>
    <Category>"" </Category>
    <Hints>"Show Always" </Hints>
    <user_level>"0" </user_level>
    <user_type>"False" "True" "True" "False" "True" </user_type>
  </vjc_PlugPanel>
  <vjc_GenericInstance name="Connection">
    <ClassName>"VjComponents.Network.ConnectionPane" </ClassName>
    <Dependencies>"ControlUI Module" "Network Module" </Dependencies>
    <ParentComp>"ControlUI Module" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"False" "False" "True" "False" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="Performance">
    <ClassName>"VjComponents.PerfMonitor.PerfAnalyzerPanel" </ClassName>
    <Dependencies>"ControlUI Module" "Performance Module" </Dependencies>
    <ParentComp>"ControlUI Module" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"False" "False" "False" "True" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="Messages">
    <ClassName>"VjComponents.UI.ConsolePane" " }" "Dependencies" "null" "ControlUI Module" </ClassName>
    <Dependencies></Dependencies>
    <ParentComp>"ControlUI Module" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"True" "False" "False" "False" "False" </user_type>
  </vjc_GenericInstance>
  <vjc_PlugPanel name="OrgTree Editor">
    <ClassName>"VjComponents.ConfigEditor.ChunkOrgTreePane" </ClassName>
    <Dependencies>"ControlUI Module" "Config Module" "ChunkOrgTree Module" </Dependencies>
    <ParentComp>"ControlUI Module" </ParentComp>
    <Category>"Config Utils" </Category>
    <Hints></Hints>
    <user_level>"0" </user_level>
    <user_type>"False" "False" "False" "False" "True" </user_type>
  </vjc_PlugPanel>
  <vjc_PlugPanel name="Descriptions">
    <ClassName>"VjComponents.ConfigEditor.DescDBPanel" </ClassName>
    <Dependencies>"ControlUI Module" "Config Module" "ConfigUIHelper Module" </Dependencies>
    <ParentComp>"ControlUI Module" </ParentComp>
    <Category>"Config Utils" </Category>
    <Hints></Hints>
    <user_level>"0" </user_level>
    <user_type>"False" "False" "False" "False" "True" </user_type>
  </vjc_PlugPanel>
  <vjc_PlugPanel name="Sim Wizard">
    <ClassName>"VjWizards.WizardPanel" </ClassName>
    <Dependencies>"ControlUI Module" "Config Module" "ConfigUIHelper Module" </Dependencies>
    <ParentComp>"ControlUI Module" </ParentComp>
    <Category>"Wizards" </Category>
    <Hints></Hints>
    <user_level>"0" </user_level>
    <user_type>"False" "True" "False" "False" "False" </user_type>
  </vjc_PlugPanel>
  <vjc_GenericInstance name="Config Save Monitor Module">
    <ClassName>"VjComponents.ConfigEditor.ConfigSaveMonitorModule" </ClassName>
    <Dependencies>"ControlUI Module" "Config Module" </Dependencies>
    <ParentComp>"VjControl Core" </ParentComp>
    <user_level>"0" </user_level>
    <user_type>"True" "True" "False" "False" "True" </user_type>
  </vjc_GenericInstance>
  <vjc_ChunkPanelComponent name="Default ConfigChunkPanel">
    <ClassName>"VjComponents.ConfigEditor.ConfigChunkUI.DefaultConfigChunkPanel" </ClassName>
    <Dependencies>"ConfigUIHelper Module" </Dependencies>
    <ParentComp>"ConfigUIHelper Module" </ParentComp>
    <UsedFor></UsedFor>
    <user_level>"0" </user_level>
    <user_type>"True" "False" "False" "False" "False" </user_type>
  </vjc_ChunkPanelComponent>
  <vjc_PlugPanelContainer name="UI Tree Select PanelContainer">
    <ClassName>"VjComponents.UI.TreeSelectContainer" </ClassName>
    <Dependencies>"ControlUI Module" </Dependencies>
    <ParentComp>"ControlUI Module" </ParentComp>
    <default_panel>"Configure" </default_panel>
    <user_level>"0" </user_level>
    <user_type>"True" "False" "False" "False" "False" </user_type>
  </vjc_PlugPanelContainer>
</ConfigChunkDB>
