<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <SimDigital name="ExtraDigitalDevice">
    <keyboardProxy>WandKeyboardProxy</keyboardProxy>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 0">
        <modKey>-1</modKey>
        <key>49</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 1">
        <modKey>-1</modKey>
        <key>50</key>
      </KeyModPair>
    </keyPairs>
  </SimDigital>
</ConfigChunkDB>
