<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <displayWindow name="SimWindowX01">
    <origin>500</origin>
    <origin>500</origin>
    <size>100</size>
    <size>100</size>
    <pipe>0</pipe>
    <frameBufferConfig>
      <OpenGLFBConfig name="GL Frame Buffer">
        <redSize>1</redSize>
        <greenSize>1</greenSize>
        <blueSize>1</blueSize>
        <alphaSize>1</alphaSize>
        <depthBufferSize>1</depthBufferSize>
        <fsaaEnable>0</fsaaEnable>
      </OpenGLFBConfig>
    </frameBufferConfig>
    <stereo>0</stereo>
    <border>1</border>
    <act_as_event_source>true</act_as_event_source>
    <event_window_device>
      <EventWindow name="Keyboard configuration 0">
        <width>0</width>
        <height>0</height>
        <origin>0</origin>
        <origin>0</origin>
        <msens>0.0</msens>
        <display_number>0</display_number>
        <lock_key>0</lock_key>
        <start_locked>0</start_locked>
        <sleep_time>0</sleep_time>
      </EventWindow>
    </event_window_device>
    <active>true</active>
    <sim_viewports>
      <simViewport name="Contained Sim Viewports 0">
        <origin>0.0</origin>
        <origin>0.0</origin>
        <size>1.0</size>
        <size>1.0</size>
        <view>1</view>
        <user>User1</user>
        <active>true</active>
        <vert_fov>80.0</vert_fov>
        <hasSimPlugin>true</hasSimPlugin>
        <simPlugIn>
          <default_simulator name="simPlugIn">
            <cameraPos>SimCam1 Proxy</cameraPos>
            <wandPos>VJWand</wandPos>
            <drawProjections>true</drawProjections>
            <surfaceColor>1.0</surfaceColor>
            <surfaceColor>0.0</surfaceColor>
            <surfaceColor>0.7</surfaceColor>
          </default_simulator>
        </simPlugIn>
      </simViewport>
    </sim_viewports>
  </displayWindow>
</ConfigChunkDB>
