<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <displayWindow name="SimSurfaceX01">
    <origin>50</origin>
    <origin>50</origin>
    <size>500</size>
    <size>500</size>
    <pipe>0</pipe>
    <frameBufferConfig>
      <OpenGLFBConfig name="GL Frame Buffer">
        <redSize>1</redSize>
        <greenSize>1</greenSize>
        <blueSize>1</blueSize>
        <alphaSize>1</alphaSize>
        <depthBufferSize>1</depthBufferSize>
        <fsaaEnable>0</fsaaEnable>
      </OpenGLFBConfig>
    </frameBufferConfig>
    <stereo>0</stereo>
    <border>0</border>
    <act_as_event_source>0</act_as_event_source>
    <event_window_device>
      <EventWindow name="Keyboard configuration 0">
        <width>0</width>
        <height>0</height>
        <origin>0</origin>
        <origin>0</origin>
        <msens>0.0</msens>
        <display_number>0</display_number>
        <lock_key>0</lock_key>
        <start_locked>0</start_locked>
        <sleep_time>0</sleep_time>
      </EventWindow>
    </event_window_device>
    <active>1</active>
    <surface_viewports>
      <surfaceViewport name="Front Wall">
        <origin>0.0</origin>
        <origin>0.0</origin>
        <size>1.0</size>
        <size>1.0</size>
        <view>1</view>
        <corners>
          <Vec3 name="lower left">
            <x>-1.524</x>
            <y>0.0</y>
            <z>-1.524</z>
          </Vec3>
        </corners>
        <corners>
          <Vec3 name="lower right">
            <x>1.524</x>
            <y>0.0</y>
            <z>-1.524</z>
          </Vec3>
        </corners>
        <corners>
          <Vec3 name="upper right">
            <x>1.524</x>
            <y>3.048</y>
            <z>-1.524</z>
          </Vec3>
        </corners>
        <corners>
          <Vec3 name="upper left">
            <x>-1.524</x>
            <y>3.048</y>
            <z>-1.524</z>
          </Vec3>
        </corners>
        <user>User1</user>
        <active>1</active>
        <tracked>0</tracked>
        <trackerproxy />
      </surfaceViewport>
    </surface_viewports>
  </displayWindow>
</ConfigChunkDB>

