<?xml version="1.0" encoding="UTF-8"?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <PosProxy name="ExtraPositionProxy">
    <device>ExtraPositionDevice</device>
    <unit>0</unit>
    <etrans>1</etrans>
    <translate>10.0</translate>
    <translate>20.0</translate>
    <translate>30.0</translate>
    <rotate>3.0</rotate>
    <rotate>4.0</rotate>
    <rotate>5.0</rotate>
    <useFilter>0</useFilter>
    <sigmoidParams name="sigmoidParams">
      <sigmoid_linear_pos_filter name="sigmoidParams 0">
        <minDist>0.05</minDist>
        <maxDist>0.2</maxDist>
        <maxThreshold>0.0</maxThreshold>
      </sigmoid_linear_pos_filter>
    </sigmoidParams>
    <location />
  </PosProxy>
</ConfigChunkDB>
