<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <displayWindow name="SimWindowX01">
    <origin>0</origin>
    <origin>0</origin>
    <size>100</size>
    <size>100</size>
    <pipe>0</pipe>
    <frameBufferConfig>
      <OpenGLFBConfig name="GL Frame Buffer">
        <redSize>1</redSize>
        <greenSize>1</greenSize>
        <blueSize>1</blueSize>
        <alphaSize>1</alphaSize>
        <depthBufferSize>1</depthBufferSize>
        <fsaaEnable>0</fsaaEnable>
      </OpenGLFBConfig>
    </frameBufferConfig>
    <stereo>0</stereo>
    <border>1</border>
    <act_as_keyboard_device>0</act_as_keyboard_device>
    <keyboard_device_chunk name="keyboard_device_chunk">
      <Keyboard name="Keyboard configuration 0">
        <width>0</width>
        <height>0</height>
        <origin>0</origin>
        <origin>0</origin>
        <msens>0.0</msens>
        <display_number>0</display_number>
        <lock_key>0</lock_key>
        <start_locked>0</start_locked>
        <sleep_time>0</sleep_time>
        <deviceHost />
      </Keyboard>
    </keyboard_device_chunk>
    <active>1</active>
    <sim_viewports name="sim_viewports">
      <simViewport name="Contained Sim Viewports 0">
        <origin>0.0</origin>
        <origin>0.0</origin>
        <size>1.0</size>
        <size>1.0</size>
        <view>1</view>
        <cameraPos>SimCam1 Proxy</cameraPos>
        <user>User1</user>
        <wandPos>VJWand</wandPos>
        <active>1</active>
        <drawProjections>1</drawProjections>
        <surfaceColor>1.0</surfaceColor>
        <surfaceColor>0.0</surfaceColor>
        <surfaceColor>0.7</surfaceColor>
        <vert_fov>80.0</vert_fov>
      </simViewport>
    </sim_viewports>
  </displayWindow>
</ConfigChunkDB>
