<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <SimAnalog name="ExtraAnalogDevice">
    <eventWindowProxy />
    <keyPairsInc>
      <KeyModPair name="Increment Keypress 0">
        <modKey>-1</modKey>
        <key>3</key>
      </KeyModPair>
    </keyPairsInc>
    <keyPairsDec>
      <KeyModPair name="Decrement Keypress 0">
        <modKey>-1</modKey>
        <key>4</key>
      </KeyModPair>
    </keyPairsDec>
    <anastep>0.2</anastep>
    <min>1.0</min>
    <max>34.0</max>
  </SimAnalog>
</ConfigChunkDB>

