<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1"?>
<?org-vrjuggler-jccl-includedesc file="vrjvnc.desc"?>
<ConfigChunkDB>
  <vrjVncApp name="VRJ VNC Application">
    <embeddedGUI>true</embeddedGUI>
    <vncHost>localhost</vncHost>
    <vncPort>5901</vncPort>
    <vncPassword>vncpass</vncPassword>
    <vncDesktopSideLength>10.0</vncDesktopSideLength>
  </vrjVncApp>
</ConfigChunkDB>

