<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <EnvironmentManager name="Environment Manager1">
    <Port>4451</Port>
    <AcceptConnections>1</AcceptConnections>
  </EnvironmentManager>
</ConfigChunkDB>
