<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <apiPerformer name="Performer Config">
    <simHeadModel>${VJ_BASE_DIR}/share/vrjuggler/data/models/head.flt</simHeadModel>
    <simWandModel>${VJ_BASE_DIR}/share/vrjuggler/data/models/wand.flt</simWandModel>
  </apiPerformer>
</ConfigChunkDB>
