<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <SimPosition name="SimHeadPos">
    <keyboardProxy>MainSimKeyboard</keyboardProxy>
    <keyPairs name="keyPairs">
      <KeyModPair name="Forward">
        <modKey>0</modKey>
        <key>15</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Back">
        <modKey>0</modKey>
        <key>9</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Left">
        <modKey>0</modKey>
        <key>11</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Right">
        <modKey>0</modKey>
        <key>13</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Up">
        <modKey>0</modKey>
        <key>16</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Down">
        <modKey>0</modKey>
        <key>14</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Rot Right">
        <modKey>6</modKey>
        <key>13</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Rot Left">
        <modKey>6</modKey>
        <key>11</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Rot Up">
        <modKey>6</modKey>
        <key>9</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Rot Down">
        <modKey>6</modKey>
        <key>15</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Rot CCW">
        <modKey>0</modKey>
        <key>8</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="Rot CW">
        <modKey>0</modKey>
        <key>10</key>
      </KeyModPair>
    </keyPairs>
    <initialPos>0.0</initialPos>
    <initialPos>1.8288</initialPos>
    <initialPos>0.0</initialPos>
    <initialRot>0.0</initialRot>
    <initialRot>0.0</initialRot>
    <initialRot>0.0</initialRot>
    <dtrans>0.05</dtrans>
    <drot>0.5</drot>
    <transCoordSystem>1</transCoordSystem>
    <rotCoordSystem>0</rotCoordSystem>
    <position_filters>
      <PosXformFilter name="Position Filters">
        <pre_translate>0.0</pre_translate>
        <pre_translate>0.0</pre_translate>
        <pre_translate>0.0</pre_translate>
        <pre_rotation>0.0</pre_rotation>
        <pre_rotation>0.0</pre_rotation>
        <pre_rotation>0.0</pre_rotation>
        <custom_scale>1.0</custom_scale>
        <dev_units>1.0</dev_units>
        <post_translate>0.0</post_translate>
        <post_translate>0.0</post_translate>
        <post_translate>0.0</post_translate>
        <post_rotation>0.0</post_rotation>
        <post_rotation>0.0</post_rotation>
        <post_rotation>0.0</post_rotation>
      </PosXformFilter>
    </position_filters>
  </SimPosition>
</ConfigChunkDB>
