<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <PosProxy name="SimCam2 Proxy">
    <device>SimCamera2</device>
    <unit>0</unit>
    <position_filters>
      <PosXformFilter name="Position Filters">
        <pre_translate>0.0</pre_translate>
        <pre_translate>0.0</pre_translate>
        <pre_translate>0.0</pre_translate>
        <pre_rotation>0.0</pre_rotation>
        <pre_rotation>0.0</pre_rotation>
        <pre_rotation>0.0</pre_rotation>
        <custom_scale>1.0</custom_scale>
        <dev_units>1.0</dev_units>
        <post_translate>0.0</post_translate>
        <post_translate>0.0</post_translate>
        <post_translate>0.0</post_translate>
        <post_rotation>0.0</post_rotation>
        <post_rotation>0.0</post_rotation>
        <post_rotation>0.0</post_rotation>
      </PosXformFilter>
    </position_filters>
  </PosProxy>
</ConfigChunkDB>
