<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <SimAnalog name="AnalogDevice1">
    <keyboardProxy />
    <keyPairsInc>
      <KeyModPair name="Increment Keypress 0">
        <modKey>0</modKey>
        <key>1</key>
      </KeyModPair>
    </keyPairsInc>
    <keyPairsDec>
      <KeyModPair name="Decrement Keypress 0">
        <modKey>0</modKey>
        <key>2</key>
      </KeyModPair>
    </keyPairsDec>
    <anastep>0.5</anastep>
    <min>0.0</min>
    <max>10.0</max>
  </SimAnalog>
</ConfigChunkDB>

