<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <Keyboard name="Head Keyboard">
    <width>300</width>
    <height>100</height>
    <origin>950</origin>
    <origin>850</origin>
    <msens>1.0</msens>
    <display_number>0</display_number>
    <lock_key>0</lock_key>
    <start_locked>0</start_locked>
    <sleep_time>75</sleep_time>
    <deviceHost />
  </Keyboard>
</ConfigChunkDB>
