<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <SimDigital name="SimWandButtons">
    <keyboardProxy>WandKeyboardProxy</keyboardProxy>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 0">
        <modKey>-1</modKey>
        <key>49</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 1">
        <modKey>-1</modKey>
        <key>50</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 2">
        <modKey>-1</modKey>
        <key>51</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 3">
        <modKey>0</modKey>
        <key>10</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 4">
        <modKey>0</modKey>
        <key>11</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 5">
        <modKey>0</modKey>
        <key>12</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 6">
        <modKey>0</modKey>
        <key>13</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 7">
        <modKey>0</modKey>
        <key>14</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs name="keyPairs">
      <KeyModPair name="KeyPresses 8">
        <modKey>0</modKey>
        <key>15</key>
      </KeyModPair>
    </keyPairs>
  </SimDigital>
</ConfigChunkDB>
