<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <PerfMeasure name="Performance Measurements1">
    <PerformanceTarget>EM File Output1</PerformanceTarget>
    <TimingTests name="TimingTests">
      <PerfTestActive name="Timing Tests 0">
        <Prefix>Kernel</Prefix>
        <Enabled>0</Enabled>
      </PerfTestActive>
      <PerfTestActive name="Timing Tests 1">
        <Prefix>vjGlPipe</Prefix>
        <Enabled>0</Enabled>
      </PerfTestActive>
    </TimingTests>
  </PerfMeasure>
</ConfigChunkDB>
