<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <SimDigital name="AppDigitalSim">
    <eventWindowProxy>MainSimEventWindow</eventWindowProxy>
    <keyPairs>
      <KeyModPair name="KeyPresses 0">
        <modKey>-1</modKey>
        <key>34</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs>
      <KeyModPair name="KeyPresses 1">
        <modKey>-1</modKey>
        <key>40</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs>
      <KeyModPair name="KeyPresses 2">
        <modKey>-1</modKey>
        <key>22</key>
      </KeyModPair>
    </keyPairs>
    <keyPairs>
      <KeyModPair name="KeyPresses 3">
        <modKey>-1</modKey>
        <key>35</key>
      </KeyModPair>
    </keyPairs>
  </SimDigital>
</ConfigChunkDB>
