<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <displaySystem name="Pipe Setup">
    <numpipes>1</numpipes>
    <xpipes>-1</xpipes>
    <xpipes>-1</xpipes>
    <xpipes>-1</xpipes>
    <xpipes>-1</xpipes>
    <xpipes>-1</xpipes>
    <xpipes>:0.0</xpipes>
    <xpipes>:0.0</xpipes>
    <xpipes>:0.0</xpipes>
  </displaySystem>
</ConfigChunkDB>

