<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.1" ?>
<ConfigChunkDB>
  <!-- This is a comment -->
  <FileConnect name="EM File Output1">
    <FileName>/var/tmp/out.perf</FileName>
    <Enabled>0</Enabled>
    <Mode>Interactive</Mode>
  </FileConnect>
</ConfigChunkDB>
