<html><head><TITLE>class {classname}{templ}</TITLE>
</head>
<FRAMESET Rows="*,110" >

  <FRAME Name="Description" SRC="{class}_desc.html" MARGINWIDTH=15 MARGINHEIGHT=20 Scrolling="Auto">
  
  <FRAMESET  Cols="*,150">
    <FRAME Name="CGraph" SRC="{class}_appl.html" MARGINHEIGHT=0 MARGINWIDTH=0 Scrolling="No">
    <FRAME Name="CIndex" SRC="smindex.html#{name}" MARGINHEIGHT=5 MARGINWIDTH=5  Scrolling="Auto">
  </FRAMESET>

</FRAMESET>
