<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-settings config.db.version="2.0" ?>
<ConfigChunkDB>
  <AnaProxy name="AnaProxy 0">
    <device>SimAnalogDevice</device>
    <unit>0</unit>
  </AnaProxy>
  <AnaProxy name="AnaProxy 1">
    <device>SimAnalogDevice</device>
    <unit>1</unit>
  </AnaProxy>
  <SimAnalog name="SimAnalogDevice">
    <keyboardProxy>WandKeyboardProxy</keyboardProxy>
    <keyPairsInc name="keyPairsInc">
      <KeyModPair name="Increment Keypress 0">
        <modKey>0</modKey>
        <key>34</key>
      </KeyModPair>
    </keyPairsInc>
    <keyPairsInc name="keyPairsInc">
      <KeyModPair name="Increment Keypress 1">
        <modKey>0</modKey>
        <key>40</key>
      </KeyModPair>
    </keyPairsInc>
    <keyPairsInc name="keyPairsInc">
      <KeyModPair name="Increment Keypress 2">
        <modKey>0</modKey>
        <key>22</key>
      </KeyModPair>
    </keyPairsInc>
    <keyPairsInc name="keyPairsInc">
      <KeyModPair name="Increment Keypress 3">
        <modKey>0</modKey>
        <key>35</key>
      </KeyModPair>
    </keyPairsInc>
    <keyPairsDec name="keyPairsDec">
      <KeyModPair name="Decrement Keypress 0">
        <modKey>0</modKey>
        <key>18</key>
      </KeyModPair>
    </keyPairsDec>
    <keyPairsDec name="keyPairsDec">
      <KeyModPair name="Decrement Keypress 1">
        <modKey>0</modKey>
        <key>36</key>
      </KeyModPair>
    </keyPairsDec>
    <keyPairsDec name="keyPairsDec">
      <KeyModPair name="Decrement Keypress 2">
        <modKey>0</modKey>
        <key>21</key>
      </KeyModPair>
    </keyPairsDec>
    <keyPairsDec name="keyPairsDec">
      <KeyModPair name="Decrement Keypress 3">
        <modKey>0</modKey>
        <key>23</key>
      </KeyModPair>
    </keyPairsDec>
    <anastep>1.0</anastep>
    <min>0.0</min>
    <max>255.0</max>
  </SimAnalog>
  <proxyAlias name="VJAnalog0">
    <aliasName>VJAnalog0</aliasName>
    <proxyPtr>AnaProxy 0</proxyPtr>
  </proxyAlias>
  <proxyAlias name="VJAnalog1">
    <aliasName>VJAnalog1</aliasName>
    <proxyPtr>AnaProxy 1</proxyPtr>
  </proxyAlias>
</ConfigChunkDB>

