<?xml version="1.0" encoding="UTF-8"?>
<beanlist xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="http://www.vrjuggler.org/tweek/xsd/1.0/beanlist.xsd">
   <generic name="Generic Bean">
      <file name="GenericBean.jar" class="tweektest.beans.GenericBean"/>
   </generic>
</beanlist>
