vjc_genericinstance
  Name "Network Module"
  ClassName { "VjComponents.Network.NetworkModule" }
  Dependencies { }
  ParentComp { "VjControl Core" }
  end
vjc_genericinstance
  Name "Performance Module"
  ClassName { "VjComponents.PerfMonitor.PerformanceModule" }
  Dependencies { "Config Module" }
  ParentComp { "VjControl Core" }
  end
vjc_genericinstance
  Name "ChunkOrgTree Module"
  ClassName { "VjComponents.ConfigEditor.ChunkOrgTreeModule" }
  Dependencies { "Config Module" }
  ParentComp { "VjControl Core" }
  end
vjc_genericinstance
  Name "Config Module"
  ClassName { "VjComponents.ConfigEditor.ConfigModule" }
  Dependencies { "Network Module" }
  ParentComp { "VjControl Core" }
  end
vjc_genericinstance
  Name "ConfigUIHelper Module"
  ClassName { "VjComponents.ConfigEditor.ConfigUIHelper" }
  Dependencies { "ControlUI Module" "Config Module" "ChunkOrgTree Module" }
  ParentComp { "VjControl Core" }
  end
vjc_genericinstance
  Name "VjcPrefs Module"
  ClassName { "VjComponents.UI.VjcPrefsModule" }
  Dependencies { "ControlUI Module" "ConfigUIHelper Module" }
  ParentComp { "VjControl Core" }
  end
vjc_genericinstance
  Name "ControlUI Module"
  ClassName { "VjComponents.UI.ControlUIModule" }
  Dependencies { }
  ParentComp { "VjControl Core" }
  end
vjc_component
  Name "VjComponents.ConfigEditor.ConfigModule"
  end
vjc_component
  Name "VjWizards.WizardPanel"
  end
vjc_component
  Name "VjComponents.UI.VjcPrefsModule"
  end
vjc_component
  Name "VjComponents.ConfigEditor.ConfigUIHelper"
  end
vjc_component
  Name "VjComponents.ConfigEditor.ConfigSaveMonitorModule"
  end
vjc_component
  Name "VjComponents.ConfigEditor.ChunkOrgTreeModule"
  end
vjc_component
  Name "VjComponents.PerfMonitor.PerformanceModule"
  end
vjc_component
  Name "VjComponents.UI.ControlUIModule"
  end
vjc_component
  Name "VjComponents.Network.NetworkModule"
  end
vjc_component
  Name "VjComponents.ConfigEditor.StandardConfigCommunicator"
  end
vjc_component
  Name "VjComponents.ConfigEditor.XMLConfigCommunicator"
  end
vjc_component
  Name "VjComponents.PerfMonitor.PerformanceCommunicator"
  end
vjc_component
  Name "VjComponents.ConfigEditor.ConfigurePane"
  end
vjc_component
  Name "VjComponents.Network.ConnectionPane"
  end
vjc_component
  Name "VjComponents.ConfigEditor.DescDBPanel"
  end
vjc_component
  Name "VjComponents.ConfigEditor.ChunkOrgTreePane"
  end
vjc_component
  Name "VjComponents.UI.ConsolePane"
  end
vjc_component
  Name "VjComponents.PerfMonitor.PerfAnalyzerPanel"
  end
vjc_component
  Name "VjComponents.UI.TabPaneContainer"
  end
vjc_component
  Name "VjComponents.UI.TreeSelectContainer"
  end
vjc_component
  Name "VjComponents.ConfigEditor.ConfigChunkUI.DefaultConfigChunkPanel"
  end
vjc_genericinstance
  Name "Performance Communicator"
  ClassName { "VjComponents.PerfMonitor.PerformanceCommunicator" }
  Dependencies { "Performance Module" "Network Module" }
  ParentComp { "Network Module" }
  end
/*
vjc_genericinstance
  Name "Standard Config Communicator"
  ClassName { "VjComponents.ConfigEditor.StandardConfigCommunicator" }
  Dependencies { "Network Module" "Config Module" }
  ParentComp { "Network Module" }
  end
*/
vjc_genericinstance
  Name "XML Config Communicator"
  ClassName { "VjComponents.ConfigEditor.XMLConfigCommunicator" }
  Dependencies { "Network Module" "Config Module" }
  ParentComp { "Network Module" }
  end
vjc_plugpanel
  Name "Configure"
  ClassName { "VjComponents.ConfigEditor.ConfigurePane" }
  Dependencies { "ControlUI Module" "Config Module" "ConfigUIHelper Module" }
  ParentComp { "ControlUI Module" }
  Category { "" "Config Utils" }
  Hints { "Show Always" }
  end
vjc_genericinstance
  Name "Connection"
  ClassName { "VjComponents.Network.ConnectionPane" }
  Dependencies { "ControlUI Module" "Network Module" }
  ParentComp { "ControlUI Module" }
  end
vjc_genericinstance
  Name "Performance"
  ClassName { "VjComponents.PerfMonitor.PerfAnalyzerPanel" }
  Dependencies { "ControlUI Module" "Performance Module" }
  ParentComp { "ControlUI Module" }
  end
vjc_genericinstance
  Name "Messages"
  ClassName { "VjComponents.UI.ConsolePane" " }" "Dependencies" "null" "ControlUI Module" }
  Dependencies { }
  ParentComp { "ControlUI Module" }
  end
vjc_plugpanel
  Name "OrgTree Editor"
  ClassName { "VjComponents.ConfigEditor.ChunkOrgTreePane" }
  Dependencies { "ControlUI Module" "Config Module" }
  ParentComp { "ControlUI Module" }
  Category { "Config Utils" }
  Hints { }
  end
vjc_plugpanel
  Name "Descriptions"
  ClassName { "VjComponents.ConfigEditor.DescDBPanel" }
  Dependencies { "ControlUI Module" "Config Module" "ConfigUIHelper Module" }
  ParentComp { "ControlUI Module" }
  Category { "Config Utils" }
  Hints { }
  end
vjc_plugpanel
  Name "Sim Wizard"
  ClassName { "VjWizards.WizardPanel" }
  Dependencies { "ControlUI Module" "Config Module" "ConfigUIHelper Module" }
  ParentComp { "ControlUI Module" }
  Category { "Wizards" }
  Hints { }
  end
vjc_genericinstance
  Name "Config Save Monitor Module"
  ClassName { "VjComponents.ConfigEditor.ConfigSaveMonitorModule" }
  Dependencies { "ControlUI Module" "Config Module" }
  ParentComp { "VjControl Core" }
  end
vjc_ChunkPanelComponent
  Name "Default ConfigChunkPanel"
  ClassName { "VjComponents.ConfigEditor.ConfigChunkUI.DefaultConfigChunkPanel" }
  Dependencies { "ConfigUIHelper Module" }
  ParentComp { "ConfigUIHelper Module" }
  UsedFor { }
  end
vjc_plugpanelcontainer
  Name "UI Tree Select Panels"
  ClassName { "VjComponents.UI.TreeSelectContainer" }
  Dependencies { "ControlUI Module" }
  ParentComp { "ControlUI Module" }
  default_panel { "Configure" }
  end
End
