# This file defines the specification for the VR Juggler lib32/mips4 diretory
# tree for machines running IRIX.
#
# $Id$

/set type=dir mode=0775 gname=vrjuggler
.
    lib32
	mips4
	    debug
	    ..
	    opt
	    ..
	..
    ..
..
