{foreach class sort}
  {if PUBLIC_API}
    <folder
        title="{classname}"
        link="$(PROGRAMMERREF)/classes/{class}_book.html"
        {if brief} info="{brief}" {endif}
        image="Class.gif">
    </folder>
  {endif}
{next class}
