<HEAD>
  <TITLE>Description of {classname}</TITLE>
</HEAD>

<!-- install-web strip-blank-lines -->

<BODY>

<!-- Opening heading. -->
<H2>
  {include ../common/class_name.html.inc}
</H2>

{if children}
  <P>
    <B>Known direct subclasses:</B>
    {foreach child}
      <A HREF="{name}.html">{name}</A>{if !last}, {endif}
    {next child}
  </P>

  <HR>
{endif}

  <P>
    {include ../common/class_name.html.inc}

    {if class}
      {if parents}
	<BR>
	Sub class of: {parents}
      {endif}
    {endif}
  </P>

  {if brief}
    <P>
      {brief}
    </P>
  {endif}

{if detail}
  <P>
    {detail}
  </P>
{endif}

{if italic}
  <P>
    <I>{italic}</I>
  </P>
{endif}

{if NOTE}
  <P>
    <B>NOTE:</B> {NOTE}
  </P>
{endif}

<HR>

{if class}
  {if constructor !private}
    <!-- Index of non-private class constructor(s). -->
    <FONT SIZE="+1"><B>Constructor Summary</B></FONT>

      <DL>
	{foreach member}
	  {if !mprivate}
	    {if mconstructor}
	      <DT><TT><A HREF="#{memberef}"><B>{mname}</B></A>({args})
		  {if const} const {endif}
		  {if throws}
		    <FONT COLOR="#ff0000">throws {throwclass}({throwargs})</FONT>
		  {endif}
		  </TT>
	    {endif}
	  {endif}
	{next member}
      </DL>
  {endif}

  {if method !private}
    <!-- Index of non-private class method(s). -->
    <FONT SIZE="+1"><B>Method Summary</B></FONT>

      <DL>
	{foreach member all}
	  {if !mprivate}
	    {if func}
	      {if !mconstructor}
		{if !inherited}
		  <DT>
		    {include ../common/member_type.html.inc}
		    <TT>
		    <A HREF="#{memberef}"><B>{mname}</B></A>({args})
		    {if const} const {endif}
		    {if throws}
		      <FONT COLOR="#ff0000">throws {throwclass}({throwargs})</FONT>
		    {endif}
		    </TT>
	        {endif}
	      {endif}
	      {else}
		{if !overridden}
		  <DT>
		    {include ../common/member_type.html.inc}
		    <TT>
		    {nolink true}
		    <A HREF="{defclass}_desc.html#{memberef}"><B>{mname}</B></A>({args})
		    {nolink false}
		    {if const} const {endif}
		    {if throws}
		      <FONT COLOR="#ff0000">throws {throwclass}({throwargs})</FONT>
		    {endif}
		    </TT>
		{endif}
	      {endelse}
	    {endif}
	  {endif}
	{next member}
      </DL>
  {endif}

  {if membervar public}
    <!-- Index of non-private class member variable(s). -->
    <FONT SIZE="+1"><B>Member Variable Summary</B></FONT>

      <DL>
	{foreach member all}
	  {if public}
	    {if !func}
	      <DT>{include ../common/member_type.html.inc}
		  <TT><B>{name}</B></TT>
		  {if enum}
		  <FONT SIZE="-1"><TT>{lb}{args}{rb}</TT></FONT><BR>
		  {endif}
		{if brief}
		  <DD>
		    {brief}
		    <P> </P>
		  </DD>
		{endif}
	    {endif}
	  {endif}
	{next member}
      </DL>
  {endif}

  <HR>

  {if constructor !private}
    <!-- Class constructor(s). -->
    <FONT SIZE="+1"><B>Constructor Detail</B></FONT>

      {foreach member}
	{if !mprivate}
	  {if mconstructor}
	    {nolink true}
	    <H3><A NAME="{memberef}">{mname}</A></H3>
	    {nolink false}
	    {include ../common/method_description_book.html.inc}
	  {endif}
	{endif}
      {next member}

    <HR>
  {endif}

  {if method !private}
    <!-- Class method(s). -->
    <FONT SIZE="+1"><B>Method Detail</B></FONT>

    {foreach member}
      {if !mprivate}
	{if func}
	  {if !mconstructor}
	    <H3><A NAME="{memberef}">{mname}</A></H3>
	    {include ../common/method_description_book.html.inc}
	  {endif}
	{endif}
      {endif}
    {next member}

    <HR>
  {endif}
{endif}		<!-- End of class information block -->
{else}
  <!-- Index of struct/union element(s). -->
  {private false}
    <B>Element Information</B>

      <DL>
	{foreach member}
	  <DT><TT>{type}</TT> <TT><B>{name}</B></TT>
	    <DD>
	      {if brief}
		{brief}
	      {endif}
	      <P> </P>
	    </DD>
	{next member}
      </DL>

  {endprivate}
{endelse}

</BODY>
