<HEAD>
  <TITLE>Methods for {classname}</TITLE>
  <BASE TARGET="class_desc">
</HEAD>

<BODY BGCOLOR="#ffffff">

<FONT SIZE="-1">
{if class}
  <B>{class} Methods</B>

  <P>

  {foreach member all}
    {if !mprivate}
      {include ../common/class_methods.html.inc}
    {endif}
  {next member}
{endif}
{else}
  No methods for non-class <B>{class}</B>
{endelse}
</FONT>

</BODY>
