<HEAD>
  <TITLE>Other Documented Items</TITLE>
</HEAD>

<BODY BGCOLOR="#ffffff">

<DIV ALIGN="CENTER">
  <H3>Other Documented Items</H3>
</DIV>

<P>

<H3>FUNCTIONS</H3>

<DL>
{foreach func}
  <DT>{type} <B>{name}</B>({args}) {if const} const {endif}
      {if throws}<FONT COLOR="#ff0000">throws {throwclass}({throwargs})</FONT>{endif};
    <DD>{if brief} <B>{brief}</B><P> {endif}
        {if detail} {detail} {endif}
{next}
</DL>

<H3>GLOBALS</H3>

<DL>
{foreach global}
  <DT>{type} <B>{name}</B> {if enum}{lb}{args}{rb}{endif}{else}{args}{endelse};
    <DD>{if brief} <B>{brief}</B><P> {endif}
        {if detail} {detail} {endif}
{next}
</DL>

<H3>TYPEDEFS</H3>

<DL>
{foreach typedef}
  <DT>{type} <B>{name}</B> {if enum} {lb}{args}{rb}{endif};
    <DD>{if brief} <B>{brief}</B><P> {endif}
        {if detail} {detail} {endif}
{next}
</DL>

<H3>MACROS</H3>

<DL>
{foreach macro}
  <DT><B>{name}</B>: {args}
    <DD>{if brief} <B>{brief}</B><P> {endif}
        {if detail} {detail} <br> {endif}
{next}
</DL>

</BODY>
