{foreach class sort}
  {if PUBLIC_API}
    <folder
        title="{classname}"
        link="$(PROGRAMMERREF)/classes/{class}.html"
        {if brief} info="{brief}" {endif}
        image="Class.gif">

        <!-- Public Funcs -->
          <font style="Bold" color="000022">
          {foreach public all}
          {if func}        
            <item
                title="{mname}"
                info="{type} {mname}({args}): {if brief} {brief} {endif}"
                link="$(PROGRAMMERREF)/classes/{class}.html#{memberef}"
                image="Public_Method.gif">
          {endif}	 
          {next public}
          </font>

        <!-- Public vars -->
          <font style="Plain" color="000022">
          {foreach public all}
          {if !func}        
            <item
                title="{mname}: {type}"
                info="{type} {mname}: {if brief} {brief} {endif}"
                image="Public_Method.gif">
          {endif}	 
          {next public}
          </font>
    </folder>
  {endif}
{next class}
