<?xml version="1.0" encoding="UTF-8"?>
<ConfigChunkDB>
  <enumtest_fake_MotionStar name="Motion Star master">
    <address>mstar</address>
    <serverPort>UDP Port</serverPort>
    <serverType>true</serverType>
    <hemisphere>fals</hemisphere>
    <translate>6.0</translate>
    <translate>-0.25</translate>
    <translate>0.0</translate>
    <rotate>90.0</rotate>
    <rotate>0.0</rotate>
    <rotate>180.0</rotate>
    <num>3</num>
    <bformat>4</bformat>
    <mode>false</mode>
    <reportRate>true</reportRate>
    <measurementRate>68.3</measurementRate>
</enumtest_fake_MotionStar>
</ConfigChunkDB>
