<ConfigChunkDB>
  <vjIncludeDescFile name="xml_included_chunk.desc">
  </vjIncludeDescFile>
  <vjIncludeFile name="./xml_included_chunk.config">
  </vjIncludeFile>
  <chunkincludetest name="chunk_using_included_desc">
    <int_prop> 2 </int_prop>
  </chunkincludetest>
  <chunkincludetest name="chunk_superceded_included_chunk">
    <int_prop> 2 </int_prop>
  </chunkincludetest>
</ConfigChunkDB>
