<?xml version="1.0" encoding="UTF-8"?>
<ConfigChunkDB>
  <vjc_GenericInstance name="Network Module">
    <ClassName>org.vrjuggler.jccl.net.NetworkModule</ClassName>
    <Dependencies></Dependencies>
    <ParentComp>VjControl Core</ParentComp>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="Performance Module">
    <ClassName>org.vrjuggler.jccl.perfmonitor.PerformanceModule</ClassName>
    <Dependencies>Config Module</Dependencies>
    <ParentComp>VjControl Core</ParentComp>
    <user_level>0</user_level>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="ChunkOrgTree Module">
    <ClassName>org.vrjuggler.jccl.editorgui.ChunkOrgTreeModule</ClassName>
    <Dependencies>Config Module</Dependencies>
    <ParentComp>VjControl Core</ParentComp>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="Config Module">
    <ClassName>org.vrjuggler.jccl.editorgui.ConfigModule</ClassName>
    <Dependencies>Network Module</Dependencies>
    <ParentComp>VjControl Core</ParentComp>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="ConfigUIHelper Module">
    <ClassName>org.vrjuggler.jccl.editorgui.ConfigUIHelper</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <Dependencies>Config Module</Dependencies>
    <Dependencies>ChunkOrgTree Module</Dependencies>
    <ParentComp>VjControl Core</ParentComp>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="VjcPrefs Module">
    <ClassName>org.vrjuggler.jccl.vjcontrol.ui.VjcPrefsModule</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <Dependencies>ConfigUIHelper Module</Dependencies>
    <ParentComp>VjControl Core</ParentComp>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="ControlUI Module">
    <ClassName>org.vrjuggler.jccl.vjcontrol.ui.ControlUIModule</ClassName>
    <Dependencies></Dependencies>
    <ParentComp>VjControl Core</ParentComp>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_Component name="org.vrjuggler.jccl.editorgui.ConfigModule">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.wizards.WizardPanel">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.vjcontrol.ui.VjcPrefsModule">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.editorgui.ConfigUIHelper">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.editorgui.ConfigSaveMonitorModule">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.editorgui.ChunkOrgTreeModule">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.perfmonitor.PerformanceModule">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.vjcontrol.ui.ControlUIModule">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.net.NetworkModule">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.editorgui.XMLConfigCommunicator">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.perfmonitor.PerformanceCommunicator">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.editorgui.ConfigurePane">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.net.ConnectionPane">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.editorgui.DescDBPanel">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.editorgui.ChunkOrgTreePane">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.vjcontrol.ui.ConsolePane">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.perfmonitor.PerfAnalyzerPanel">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.vjcontrol.ui.TabPaneContainer">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.vjcontrol.ui.TreeSelectContainer">
  </vjc_Component>
  <vjc_Component name="org.vrjuggler.jccl.editorgui.configchunkui.DefaultConfigChunkPanel">
  </vjc_Component>
  <vjc_GenericInstance name="Performance Communicator">
    <ClassName>org.vrjuggler.jccl.perfmonitor.PerformanceCommunicator</ClassName>
    <Dependencies>Performance Module</Dependencies>
    <Dependencies>Network Module</Dependencies>
    <ParentComp>Network Module</ParentComp>
    <user_level>0</user_level>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="XML Config Communicator">
    <ClassName>org.vrjuggler.jccl.editorgui.XMLConfigCommunicator</ClassName>
    <Dependencies>Network Module</Dependencies>
    <Dependencies>Config Module</Dependencies>
    <ParentComp>Network Module</ParentComp>
    <user_level>0</user_level>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_PlugPanel name="Configure">
    <ClassName>org.vrjuggler.jccl.editorgui.ConfigurePane</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <Dependencies>Config Module</Dependencies>
    <Dependencies>ConfigUIHelper Module</Dependencies>
    <ParentComp>ControlUI Module</ParentComp>
    <Category></Category>
    <Hints>Show Always</Hints>
    <user_level>0</user_level>
    <user_type>False</user_type>
    <user_type>True</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
  </vjc_PlugPanel>
  <vjc_GenericInstance name="Connection">
    <ClassName>org.vrjuggler.jccl.net.ConnectionPane</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <Dependencies>Network Module</Dependencies>
    <ParentComp>ControlUI Module</ParentComp>
    <user_level>0</user_level>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="Performance">
    <ClassName>org.vrjuggler.jccl.perfmonitor.PerfAnalyzerPanel</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <Dependencies>Performance Module</Dependencies>
    <ParentComp>ControlUI Module</ParentComp>
    <user_level>0</user_level>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_GenericInstance name="Messages">
    <ClassName>org.vrjuggler.jccl.vjcontrol.ui.ConsolePane</ClassName>
    <ClassName> }</ClassName>
    <ClassName>Dependencies</ClassName>
    <ClassName>null</ClassName>
    <ClassName>ControlUI Module</ClassName>
    <Dependencies></Dependencies>
    <ParentComp>ControlUI Module</ParentComp>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_GenericInstance>
  <vjc_PlugPanel name="OrgTree Editor">
    <ClassName>org.vrjuggler.jccl.editorgui.ChunkOrgTreePane</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <Dependencies>Config Module</Dependencies>
    <Dependencies>ChunkOrgTree Module</Dependencies>
    <ParentComp>ControlUI Module</ParentComp>
    <Category>Config Utils</Category>
    <Hints></Hints>
    <user_level>0</user_level>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
  </vjc_PlugPanel>
  <vjc_PlugPanel name="Descriptions">
    <ClassName>org.vrjuggler.jccl.editorgui.DescDBPanel</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <Dependencies>Config Module</Dependencies>
    <Dependencies>ConfigUIHelper Module</Dependencies>
    <ParentComp>ControlUI Module</ParentComp>
    <Category>Config Utils</Category>
    <Hints></Hints>
    <user_level>0</user_level>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
  </vjc_PlugPanel>
  <vjc_PlugPanel name="Sim Wizard">
    <ClassName>org.vrjuggler.jccl.wizards.WizardPanel</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <Dependencies>Config Module</Dependencies>
    <Dependencies>ConfigUIHelper Module</Dependencies>
    <ParentComp>ControlUI Module</ParentComp>
    <Category>Wizards</Category>
    <Hints></Hints>
    <user_level>0</user_level>
    <user_type>False</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_PlugPanel>
  <vjc_GenericInstance name="Config Save Monitor Module">
    <ClassName>org.vrjuggler.jccl.editorgui.ConfigSaveMonitorModule</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <Dependencies>Config Module</Dependencies>
    <ParentComp>VjControl Core</ParentComp>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>True</user_type>
  </vjc_GenericInstance>
  <vjc_ChunkPanelComponent name="Default ConfigChunkPanel">
    <ClassName>org.vrjuggler.jccl.editorgui.configchunkui.DefaultConfigChunkPanel</ClassName>
    <Dependencies>ConfigUIHelper Module</Dependencies>
    <ParentComp>ConfigUIHelper Module</ParentComp>
    <UsedFor></UsedFor>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_ChunkPanelComponent>
  <vjc_PlugPanelContainer name="UI Tree Select PanelContainer">
    <ClassName>org.vrjuggler.jccl.vjcontrol.ui.TreeSelectContainer</ClassName>
    <Dependencies>ControlUI Module</Dependencies>
    <ParentComp>ControlUI Module</ParentComp>
    <default_panel>Configure</default_panel>
    <user_level>0</user_level>
    <user_type>True</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
    <user_type>False</user_type>
  </vjc_PlugPanelContainer>
</ConfigChunkDB>
