<?xml version="1.0" encoding="UTF-8"?>
<ConfigChunkDB>
  <DependentChunk2 name="Ext Dependent Chunk 1">
    <stringProp>La la la</stringProp>
  </DependentChunk2>
  <DependentChunk2 name="Ext Dependent Chunk 2">
    <stringProp>Al al al</stringProp>
  </DependentChunk2>
  <DependentChunk name="Ext Dependent Chunk 3">
    <boolProp>false</boolProp>
  </DependentChunk>
  <DependentChunk3 name="Ext Dependent Chunk 4">
    <embChunk name="embChunk">
        <EmbeddedTestChunk name="Embedded chunk property 0">
          <prop1>251</prop1>
        </EmbeddedTestChunk>
</embChunk>
  </DependentChunk3>
</ConfigChunkDB>
