<?xml version="1.0" encoding="UTF-8"?>
<ConfigChunkDB>
  <TestChunk name="TestChunk">
    <eChunkProp>
        <EmbeddedTestChunk name="TestChunk-&gt;eChunkProp-&gt;Embedded Chunk Prop 0">
          <prop1>"251" </prop1>
        </EmbeddedTestChunk>
</eChunkProp>
    <chunkPtrProp>"DependentChunk2" </chunkPtrProp>
    <embChunkWithPtrProp>
        <EmbeddedTestChunk3 name="TestChunk-&gt;embChunkWithPtrProp-&gt;Yet Another Embedded Chunk 0">
          <otherChunkProp>"DependentChunk1" </otherChunkProp>
        </EmbeddedTestChunk3>
</embChunkWithPtrProp>
  </TestChunk>
  <DependentChunk name="DependentChunk1">
    <boolProp>"True" </boolProp>
  </DependentChunk>
  <DependentChunk2 name="DependentChunk2">
    <stringProp>"Someone depends on me" </stringProp>
  </DependentChunk2>
  <TestChunk name="External Test Chunk">
    <eChunkProp>
        <EmbeddedTestChunk name="External Test Chunk-&gt;eChunkProp-&gt;Embedded Chunk Prop 0">
          <prop1>"152" </prop1>
        </EmbeddedTestChunk>
</eChunkProp>
    <chunkPtrProp>"Some Dependent Chunk" </chunkPtrProp>
    <embChunkWithPtrProp>
        <EmbeddedTestChunk3 name="External Test Chunk-&gt;embChunkWithPtrProp-&gt;Yet Another Embedded Chunk 0">
          <otherChunkProp>"You Can Depend on Me" </otherChunkProp>
        </EmbeddedTestChunk3>
</embChunkWithPtrProp>
  </TestChunk>
</ConfigChunkDB>
