a:link
{
   color: rgb(1, 48, 90); 
}
a:visited
{
   color: rgb(21, 99, 13); 
} 
a:active, a:hover
{
   color: rgb(170, 23, 42);
}
a:hover
{
   font-style: bold;
}

a
{
}

p, ul, li
{
   font-family: Century Gothic, Arial, Helvetica;
}

BODY, .BODY, BODY:text, noframes
{
   font-family: Century Gothic, Arial, Helvetica;
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
}

HR
{
   size: 1;
}

img, a img
{
   border-width: 0;
}

table, td
{
   font-family: Century Gothic, Arial, Helvetica;
   table-border-color-light: rgb(204, 153, 255);
   table-border-color-dark: rgb(204, 0, 204); 
   cell-spacing: none;
   border: outset 0pt;
   border: inset 0pt;
}
.red
{
   color: rgb(255, 0, 0);
}
.black
{
   color: rgb( 0,0,0 );
}
.darkblue
{
   color: rgb( 30,30,188 );
}
h1, h2, h3, h4, h5, h6, h1style, p h1, p h2, p h3, p h4, p h5, p h6, a h1, a h2, a h3, a h4, a h5, a h6, .h1, .h2, .h3, .h4, .h5, .h6
{
   verticle-align: bottom;
   font-family: "Century Gothic", Arial, Helvetica, Verdana, sans-serif;
   font-size: 12pt; 
   font-style: bold;
   margin-bottom: 0cm;
}
h1, h1style, .blue
{
color: rgb(0, 51, 102);
}
h2, h2style, .red
{
color: rgb(113, 34, 55);
}
h3, h3style, .blue
{
color: rgb(96, 72, 130); 
}
h4, h4style, .purple
{
color: rgb(0, 55, 92);
}
h5, h5style, .orange
{
color: rgb(145, 60, 29);
}
h6, h6style, .darkred
{
color: rgb(60, 0, 0);
}
TT, tt, PRE, pre
{
   font-family: monospace,monospaced,courier,default,serif;
   color: rgb(0, 0, 40);
}

li, ul, LI, .hanging
{
   text-indent: -2em;
   margin-left:  2em;
}
