<?xml version="1.0" encoding="UTF-8"?>
<?org-vrjuggler-jccl-includedesc file="xml_included_chunk.desc"?>
<?org-vrjuggler-jccl-include file="xml_included_chunk.config"?>
<ConfigChunkDB>
  <chunkincludetest name="chunk_using_included_desc">
    <int_prop> 2 </int_prop>
  </chunkincludetest>
  <chunkincludetest name="chunk_superceded_included_chunk">
    <int_prop> 2 </int_prop>
  </chunkincludetest>
</ConfigChunkDB>
