begin-headers:
MCFVersion 0.95
name: "Classes"
end-headers:
{foreach class}
unit: "{name}.html"
name: "{name}" { if parents } {foreach parent}
parent: #"{name}.html"{next}{endif}
contentFrame: "Main"
{next}
