<?xml version="1.0" encoding="UTF-8"?>
<ChunkDescDB>
  <ChunkDesc token="juggler_audio_manager" name="Juggler Audio Manager">
    <PropertyDesc token="Name" name="Name" type="String" num="1">
       <help>Unique name of an instance of this chunk type</help>
    </PropertyDesc>
    <PropertyDesc token="api" name="API" type="String" num="1">
       <help>What Sound API to use? (Stub is default)</help>
    </PropertyDesc>
    <PropertyDesc token="listener_position" name="Start Location" type="Float" num="3">
    </PropertyDesc>
    <PropertyDesc token="file_search_path" name="File Search Paths"  type="String" num="1">
       <help>Paths to search for files</help>
    </PropertyDesc>
    <PropertyDesc token="Sounds" name="Sounds" type="EmbeddedChunk" num="variable"> 
       <help>Specify a sound here.  usually used </help>
       <enumeration name="Sound"/>
    </PropertyDesc>
  </ChunkDesc>
   <ChunkDesc token="Sound" name="Sound">
    <PropertyDesc token="Name" name="Name"  type="String" num="1">
       <help>Sound Alias - name that your application references</help>
    </PropertyDesc>
    <PropertyDesc token="filename" name="File Name" type="String" num="1">
    </PropertyDesc>
    <PropertyDesc token="ambient" name="Ambient" type="Bool" num="1">
       <help>Is it position based sound (vol changes with movement)? Or is it just ambient.</help>
    </PropertyDesc>
    <PropertyDesc token="retriggerable" name="Retriggerable" type="Bool" num="1">
       <help>can the sound retrigger during play?</help>
    </PropertyDesc>
    <PropertyDesc token="loop" name="Loop" type="Int" num="1">
       <help>How many times does the sound loop? (-1 infinite)</help>
    </PropertyDesc>
    <PropertyDesc token="position" name="sound position" type="Float" num="3">
    </PropertyDesc>
  </ChunkDesc>
</ChunkDescDB>
