<!-- Juggler class navigation thingie -->
<!-- The formatting is tight because perceps leave a LOT of white space in the file -->
{foreach classgroup sort} < folder title="{gname}" >
{foreach gmember sort}
{if PUBLIC_API} {if class}
<folder title="{classname}" link="class/{class}_desc.html#{memberef}" {if brief} info="{brief}" {endif} image="Class.gif">
    
  <!-- Public Funcs -->
    <font style="Bold" color="000022">
    {foreach public all}
    {if func}        
         <item title="{mname}" info="{type} {mname}({args}): {if brief} {brief} {endif}" link="class/{class}_desc.html#{memberef}" image="Public_Method.gif">
    {endif}	 
    {next public}
    </font>
  <!-- Protected Funcs -->
    <font style="Bold" color="002200">
    {foreach protected all}
    {if func}        
         <item title="{mname}" info="{type} {mname}({args}): {if brief} {brief} {endif}" link="class/{class}_desc.html#{memberef}" image="Protected_Method.gif">
    {endif}	 
    {next public}
    </font>
  <!-- Private Funcs -->
    <font style="Bold" color="220000">
    {foreach private all}
    {if func}
         <item title="{mname}" info="{type} {mname}({args}): {if brief} {brief} {endif}" link="class/{class}_desc.html#{memberef}" image="Protected_Method.gif">
    {endif}	 
    {next public}
    </font>
  <!-- Public vars -->
    <font style="Plain" color="000022">
    {foreach public all}
    {if !func}        
         <item title="{mname}: {type}" info="{type} {mname}: {if brief} {brief} {endif}" link="class/{class}_desc.html#{memberef}" image="Public_Method.gif">
    {endif}	 
    {next public}
    </font>
  <!-- Protected vars -->
    <font style="Plain" color="002200">
    {foreach protected all}        
    {if !func}        
         <item title="{mname}: {type}" info="{type} {mname}: {if brief} {brief} {endif}" link="class/{class}_desc.html#{memberef}" image="Protected_Method.gif">
    {endif}	 
    {next public}
    </font>
  <!-- Private vars -->
    <font style="Plain" color="220000">
    {foreach private all}        
    {if !func}        
         <item title="{mname}: {type}" info="{type} {mname}: {if brief} {brief} {endif}" link="class/{class}_desc.html#{memberef}" image="Protected_Method.gif">
    {endif}	 
    {next public}
    </font>
    
</folder>
{endif} {endif} {next gmember}
</folder> {next classgroup}
