<HEAD>
  <TITLE>Description of {classname}</TITLE>
  <BASE TARGET="_parent">
</HEAD>

<BODY BGCOLOR="#ffffff">

{include ../common/class_desc_header.html.inc}

<!-- Opening heading. -->
{include ../common/class_info.html.inc}

<P>
<HR>
<P>

{if class}
  {if membervar !private}
    <!-- Index of non-private class member variable(s). -->
    <TABLE BORDER="1" WIDTH="100%">
      <TR>
	<TH COLSPAN="2" BGCOLOR="#0062b2">
	  <FONT SIZE="+3" COLOR="#ffffff">Member Variable Summary</FONT>
	</TH>
      </TR>
      {foreach member all}
	{if !mprivate}
	  {include ../common/member_var_index_table_body.html.inc}
	  {if !func}
	    <TR>
	      <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="20%">
		{include ../common/member_type.html.inc}
	      </TD>
	      <TD ALIGN="LEFT" VALIGN="TOP" WIDTH="80%">
		<TT><B>{name}</B></TT>
		<BR>
		{if brief}
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{brief}
		  <BR>
		{endif}
	      </TD>
	    </TR>
	  {endif}
	{endif}
      {next member}
    </TABLE>

    <P>
  {endif}

  {if constructor !private}
    <!-- Index of non-private class constructor(s). -->
    <TABLE BORDER="1" WIDTH="100%">
      <TR>
	<TH BGCOLOR="#0062b2">
	  <FONT SIZE="+3" COLOR="#ffffff">Constructor Summary</FONT>
	</TH>
      </TR>
      {foreach member}
	{if !mprivate}
	  {if mconstructor}
	    <TR>
	      <TD ALIGN="LEFT" VALIGN="TOP">
		<TT>
		<A HREF="#{memberef}" TARGET="class_desc"><B>{mname}</B></A>({args})
		{if const} const {endif}
		{if throws}
		  <FONT COLOR="#ff0000">throws {throwclass}({throwargs})</FONT>
		{endif}
		</TT>
		<BR>
		{if brief}
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{brief}
		  <BR>
		{endif}
	      </TD>
	    </TR>
	  {endif}
	{endif}
      {next member}
    </TABLE>

    <P>
  {endif}

  {if method !private}
    <!-- Index of non-private class method(s). -->
    <TABLE BORDER="1" WIDTH="100%">
      <TR>
	<TH COLSPAN="2" BGCOLOR="#0062b2">
	  <FONT SIZE="+3" COLOR="#ffffff">Method Summary</FONT>
	</TH>
      </TR>
      {foreach member all}
	{if !mprivate}
	  {if func}
	    {if !mconstructor}
	      {if !inherited}
		<TR>
		  <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="20%">
		    {include ../common/member_type.html.inc}
		  </TD>
		  <TD ALIGN="LEFT" VALIGN="TOP" WIDTH="80%">
		    {include ../common/method_name_index_entry.html.inc}
		  </TD>
		</TR>
	      {endif}
	      {else}
		{if !overridden}
		  <TR>
		    <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="20%">
		      {include ../common/member_type.html.inc}
		    </TD>
		    <TD ALIGN="LEFT" VALIGN="TOP" WIDTH="80%">
		      {include ../common/in_method_name_index_entry.html.inc}
		    </TD>
		  </TR>
		{endif}
	      {endelse}
	    {endif}
	  {endif}
	{endif}
      {next member}
    </TABLE>

    <P>
  {endif}

  {if constructor !private}
    <!-- Class constructor(s). -->
    <TABLE BORDER="1" WIDTH="100%">
      <TR>
	<TH BGCOLOR="#0062b2">
	  <FONT SIZE="+3" COLOR="#ffffff">Constructor Detail</FONT>
	</TH>
      </TR>
    </TABLE>

    {foreach member}
      {if !mprivate}
	{if mconstructor}
	  <P>

	  <TABLE BORDER="0" CELLPADDING="3" CELLSPACING="4" WIDTH="100%">
	    {include ../common/detail_table_heading.html.inc}
	    <TR>
	      <TD ALIGN="CENTER">
		<TABLE BORDER="0" CELLSPACING="5" WIDTH="90%">
		  {include ../common/constructor_detail_table_body.html.inc}
		</TABLE>
	      </TD>
	    </TR>
	  </TABLE>

	  <HR>
	{endif}
      {endif}
    {next member}

    <P>
  {endif}

  {if method !private}
    <!-- Class method(s). -->
    <TABLE BORDER="1" WIDTH="100%">
      <TR>
	<TH COLSPAN="2" BGCOLOR="#0062b2">
	  <FONT SIZE="+3" COLOR="#ffffff">Method Detail</FONT>
	</TH>
      </TR>
    </TABLE>

    {foreach member}
      {if !mprivate}
	{if func}
	  {if !mconstructor}
	    <P>

	    <TABLE BORDER="0" CELLPADDING="3" CELLSPACING="4" WIDTH="100%">
	      {include ../common/detail_table_heading.html.inc}
	      <TR>
		<TD ALIGN="CENTER">
		  <TABLE BORDER="0" CELLSPACING="5" WIDTH="90%">
		    {include ../common/method_detail_table_body.html.inc}
		  </TABLE>
		</TD>
	      </TR>
	    </TABLE>

	    <HR>
	  {endif}
	{endif}
      {endif}
    {next member}
  {endif}
{endif}		<!-- End of class information block -->
{else}
  <!-- Index of struct/union element(s). -->
  {private false}
    <TABLE BORDER="1" WIDTH="100%">
      <TR>
	<TH COLSPAN="2" BGCOLOR="#0062b2">
	  <FONT SIZE="+3" COLOR="#ffffff"><B>Element Information</B></FONT>
	</TH>
      </TR>
      {foreach member}
	<TR>
	  <TD ALIGN="RIGHT" VALIGN="TOP" WIDTH="20%">
	    <TT>{type}</TT>
	  </TD>
	  <TD ALIGN="LEFT" VALIGN="TOP" WIDTH="80%">
	    <TT><B>{name}</B></TT>
	    <BR>
	    {if brief}
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{brief}
	      <BR>
	    {endif}
	  </TD>
	</TR>
      {next member}
    </TABLE>
  {endprivate}
{endelse}

<P>

{include ../common/class_desc_footer.html.inc}

</BODY>
